@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,-50..200;1,17..18,400..700,-50..200&display=swap');

@theme {
    --font-display: 'Google Sans', sans-serif;

    --color-bg-primary: #404040;
    --color-bg-secondary: #363434;
    --color-button-primary: #a8a7a7;
    --color-button-secondary: #d9d7d7;
    --color-text-primary: #667d5a;
}